[workspace]

resolver = "2"
members = [
    "xchacha_blake3_siv",
]

[workspace.package]
authors = [
  "Alex Good",
  "Brooklyn Zelenka",
]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/inkandswitch/beehive"
rust-version = "1.79.0"
version = "0.1.0"
