[package]
name = "beelay-core"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
blake3 = "1.5.4"
bs58 = { version = "0.5.1", features = ["check"] }
futures = "0.3.30"
num = { version = "0.4.3", features = ["num-bigint"] }
rand = "0.8.5"
serde = { version = "1.0.210", features = ["derive"] }
tracing = "0.1.40"

[dev-dependencies]
arbitrary = { version = "1.3.2", features = ["derive"] }
bolero = { version = "0.11.1", features = ["arbitrary"] }
image = "0.24.7"
resvg = { version = "0.43.0", default-features = false, features = ["text", "system-fonts", "raster-images"] }
termion = "4.0.2"
tracing-subscriber = "0.3.18"
viuer = "0.7.1"
