name: Test on Host

on:
  push:
    branches:
      - main
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-lint-test-audit:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Test
      run: cargo test --workspace --exclude keyhive_wasm --verbose --features=test_utils
